//Colors
$color-base:rgb(0, 170, 160);
$color-accent: rgb(255, 122, 90);
$color-complementary-1: rgb(255, 184, 95);
$color-complementary-2: rgb(70, 32, 102); 
$color-complementary-3: rgb(142, 210, 201);
$color-complementary-4: rgb(252, 244, 217);

$color-grey-1: #eee;
$color-grey-2: #ccc;
$color-grey-3: #aaa;
$color-grey-4: #888;
$color-grey-5: #666;
$color-grey-6: #444;
$color-grey-7: #222;

//Transition
$transition: all 0.25s ease-in-out;

//Radius
$radius: 4px;

//Box Shadow
$shadow-contour: 0 0 7px 1px rgba(0,0,0,0.2);
$shadow-inner: inset 0px 0px 2px 3px rgba(0,0,0,0.2);

//General
html {
	overflow-x: hidden;
}
body {
	font-family: 'Open Sans', sans-serif;
	color: $color-grey-6;
	font-size: 16px;
	overflow: hidden;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Proza Libre', sans-serif;
	color: $color-grey-7;
}

a {
	color: $color-base;
	text-decoration: none;
	transition: $transition;
	&:hover {
		color: lighten($color-base, 15%);
		text-decoration: none;
	}
}
input[type=text], input[type=email], textarea {
	transition: $transition;
	outline: none;
	border: 1px solid $color-complementary-2;
	box-shadow: none;
  }
   
  input[type=text]:focus, input[type=email]:focus, textarea:focus {
	box-shadow: inset 0 0 5px $color-complementary-3;
	border: 1px solid $color-complementary-3;
  }

.hidden {
	display: none!important;
}
.header-simple {
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 1em;
	&--light {
		color: #fff;
	}
}
.paragraph-simple {
	color: $color-grey-6;
	&--light {
		color: #fff;
	}
}
.btn-simple {
	color: #fff;
	background-color: $color-complementary-2;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.1rem;
	border: none;
	box-shadow: none;
	display: inline-block;
	font-size: 0.85rem;
	&:hover {
		background-color: lighten($color-complementary-2, 30%);
		color: #fff;
	}
	&--lg {
		font-size: 1rem;
		padding: 10px 18px;
	}
}

.divider-simple {
	background-image: linear-gradient(to right,transparent,$color-grey-1,transparent);
	background-image: -webkit-linear-gradient(left,transparent,$color-grey-1,transparent);
    border: 0;
	height: 1px;
	margin: 3rem 0;
}

.add-bg {
	background-color: rgba(0,0,0,0.85);
}

//Language 
html:lang(pl) {
	:lang(en) {
		display: none!important;
	}
	.nav-link__pl {
		display: none!important;
		& {
			img {
				display: none!important;
			}
		}
	}
	.nav-link__en {
		display: block!important;
		& {
			img {
				display: inline-block!important;
			}
		}
	}
}
html:lang(en) {
	:lang(pl) {
		display: none!important;
	}
	.nav-link__pl {
		display: block!important;
		& {
			img {
				display: inline-block!important;
			}
		}
	}
	.nav-link__en {
		display: none!important;
		& {
			img {
				display: none!important;
			}
		}
	}
}
//Top anchor for #home
.top-anchor {
	width: 0;
	height: 0;
	font-size: 0;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

//Logo
.logo-1 {
	color: $color-base;
	font-size: 1rem;
}
.logo-2 {
	color: $color-base;
	font-size: 1rem;
}
.logo-dot {
	color: $color-accent;
	font-size: 2rem;
	line-height: 0.9rem;
    display: inline-block;
}
.logo-3 {
	color: $color-base;
	font-size: 1rem;
}

//Navbar
.navbar {
	font-weight: bold;
	.logo-container {
		display: flex;
	}
	.navbar-toggler {
		.fas {
			color: #fff;
			font-size: 2rem;
		}
	}
	.nav-item {
		margin-right: 2rem;
		&:last-child {
			margin-right: 0;
		}
		&__language {
			display: inline-block;
			width:50px;
			.flag {
				width: 100%;
				height: 20px;
			}
		}
	}
}

.logo-container {
	margin:0;
	margin-bottom: 0;
	font-weight: bold;
	font-family: 'Proza Libre', sans-serif;
}

//Slider
.container-slider {
	padding: 0;
}
.section-slider {
	&__container {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		height: 100vh;
		background: #fff url(../img/slider-bg.jpg) center center no-repeat;
		background-attachment: fixed;
		background-size: cover;
		position: relative;
		z-index: 1;
		&:after {
			content: '';
			transition: $transition;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: #000baa42;
			z-index: 0;
		}
	}
	&__logo-container {
		white-space: nowrap;
		position: relative;
		margin-bottom: 3rem;
		z-index: 1;
		text-align: center;
		&:after {
			content: '';
			display: inline-block;
			width: 50%;
			height: 1px;
			background-color: $color-complementary-3;
			position: relative;
			top: 1rem;
		}
		.logo-1 {
			font-size: 2rem;
		}
		.logo-2 {
			font-size: 2rem;
		}
		.logo-dot {
			font-size: 4rem;
		}
		.logo-3 {
			font-size: 2rem;
		}
	}
	.motto {
		color: #fff;
		font-weight: bold;
		position: relative;
		z-index: 1;
		font-size: 4rem;
		max-width: 30rem;
		text-align: center;
		@media screen and (max-width: 500px) {
			font-size: 2rem;
		}
	}
}

.about-lead {
	background-color: $color-grey-1;
	.row-lead {
		.img-info {
			max-width: 100%;
			height: 100%; 
		}
		.col-img {
			@media screen and (max-width: 767px) {
				padding-bottom: 2rem;
			}
		}
		.img-container {
			height: 100%;
			background: url(../img/img-regular-keyboard.jpg) center center no-repeat;
			background-size: contain;
			@media screen and (max-width: 767px) {
				height: 250px;
				background-size: cover;
			}
		}
		.col-text {
			padding-top: 7rem;
			padding-bottom: 7rem;
			padding-right: 5rem;
			@media screen and (max-width: 767px) {
				padding-bottom: 2rem;
				padding-top: 2rem;
				padding-right: 15px;
			}
		}
	}
}

.offer {
	padding-top: 3rem;
	padding-bottom: 3rem;
	@media screen and (max-width: 767px) {
		padding-bottom: 1rem;
		padding-top: 2rem;
	}
	.col-offer {
		.offer-inner {
			padding: 2rem 1rem;
			@media screen and (max-width: 767px) {
				padding: 1rem 0;
			}
			&__ico {
				position: absolute;
				left:0;
				top:0;
				color: $color-accent;
			}
			&__header {
				position: relative;
				padding-left: 2.5rem;
				@media screen and (max-width: 767px) {
					margin-bottom: 0.5rem;
				}
			}
		}
	}
}

.responsive {
	background-color: $color-grey-1;
	.img-responsive-wrap {
		width: 100%;
		height: 100%;
		background: url(../img/responsieve_mockup.png) center center no-repeat;
		background-size: contain;
		@media screen and (max-width: 767px) {
			height: 250px;
		}
	}
	.col-responsive-text {
		padding-top: 3rem;
		padding-bottom: 3rem;
		padding-left: 5rem;
		@media screen and (max-width: 767px) {
			padding-left: 15px;
		}
	}
}

.business {
	.img-business-wrap {
		width: 100%;
		height: 100%;
		background: url(../img/img-advise.jpg) center center no-repeat;
		background-size: contain;
		@media screen and (max-width: 767px) {
			height: 250px;
			background-size: cover;
			margin-bottom: 2rem;
		}
	}
	.col-business-text {
		padding-top: 7rem;
		padding-bottom: 7rem;
		@media screen and (max-width: 767px) {
			padding-top: 2rem;
			padding-bottom: 2rem;
		}
	}
}

.portfolio {
	padding-top: 2rem;
	.row-carousel {
		max-width: 100%;
		margin:auto;
	}
	.container-portfolio {
		position: relative;
		padding: 0;
		.slick-arrow {
			position: absolute;
			top: calc(50% - 1.5rem);
			border: none;
			background-color: transparent;
			font-size: 1rem;
			color: #fff;
			cursor: pointer;
			z-index: 1020;
			width: 2rem;
			height: 2rem;
			line-height: 0;
			border-radius: 100px;
			border: 3px solid white;
		}
		.slick-prev {
			left: 1rem;
			.fa {
				position: relative;
				left: -1px;
			}
		}
		.slick-next {
			right:  1rem;
			.fa {
				position: relative;
				left: 1px;
			}
		}
	}

	.portfolio-item {
		padding-bottom: 0;
		overflow: hidden;
		height: 270px;
		background-color: #fff;
		padding: 0.5rem;
		@media screen and (max-width: 500px) {
			height: 310px;
		}
		&__link {
			position: absolute;
			z-index: 1;

			&--ico {
				font-size: 3rem;
				color: #fff;
				transition: $transition;
			}
			&--ico-img {
				top: -4rem;
				right: -4rem;
				&:hover {
					color: $color-accent;
				}
			}
			.far {
				display: inline-block;
				line-height: 0.6em;
			}
		}
		&__link-wrap {
			padding: 3rem;
			padding-bottom: 2rem;
			display: block;
			position: relative;
			z-index: 0;
			height: 100%;
			transition: $transition;
			opacity: 0.65;
			&:hover {
				transform: scale(1.1);
				opacity: 1;
				.portfolio-item__link--ico-img {
					top: 1rem;
					right: 2.5rem;
				}
			}
		}
		&__header {
			color: $color-grey-1;
			.header-link {
				color: $color-grey-1;
				text-decoration: underline;
				font-weight: bold;
			}
		}
		&__description {
			color: #fff;
		}
		&__technologies {
			color: $color-complementary-4;
			position: absolute;
			bottom: 2rem;
			left: 3rem;
			.fab {
				margin-right: 0.5em;
			}
		}
		&__before {
			position: absolute;
			bottom: 3.5rem;
			left: 3rem;
			color: #fff;
			font-size: 0.75rem;
			text-transform: uppercase;
		}

		&--traficar {
			.portfolio-item__link-wrap {
				background: linear-gradient(0deg,#000baade, #000baade),url(../img/screen-zoe-traficar-pl.jpg) top left no-repeat;
				background-size: cover;
			}
		}
		&--diag {
			.portfolio-item__link-wrap {
				background: linear-gradient(0deg,#000baade, #000baade),url(../img/screen-diag-pl.jpg) top left no-repeat;
				background-size: cover;
			}
		}
		&--adriana {
			.portfolio-item__link-wrap {
				background: linear-gradient(0deg,#000baade, #000baade),url(../img/screen-adrianafurniture-com.jpg) top left no-repeat;
				background-size: cover;
			}
		}
		&--gpec {
			.portfolio-item__link-wrap {
				background: linear-gradient(0deg,#000baade, #000baade),url(../img/screen-grupagpec-pl.jpg) top left no-repeat;
				background-size: cover;
			}
		}
		&--bydgoszcz {
			.portfolio-item__link-wrap {
				background: linear-gradient(0deg,#000baade, #000baade),url(../img/screen-visitbydgoszcz-pl.jpg) top left no-repeat;
				background-size: cover;
			}
		}
		&--pab {
			.portfolio-item__link-wrap {
				background: linear-gradient(0deg,#000baade, #000baade),url(../img/screen-popsandbangs-com.jpg) top left no-repeat;
				background-size: cover;
			}
		}
		&--eccop {
			.portfolio-item__link-wrap {
				background: linear-gradient(0deg,#000baade, #000baade),url(../img/screen-eccoprojekt-pl.jpg) top left no-repeat;
				background-size: cover;
			}
		}
		&--zdmikp {
			.portfolio-item__link-wrap {
				background: linear-gradient(0deg,#000baade, #000baade),url(../img/screen-zdmikp-bydgoszcz-pl.jpg) top left no-repeat;
				background-size: cover;
			}
		}
		&--arcadius {
			.portfolio-item__link-wrap {
				background: linear-gradient(0deg,#000baade, #000baade),url(../img/screen-arcadius-atelier-com.jpg) top left no-repeat;
				background-size: cover;
			}
		}
	}
}

.contact {
	padding-top: 3rem;
	background-color: #000;
	.contact-intro {
		margin-bottom: 1.5rem;
	}
	.col-info {
		@media screen and (max-width: 767px) {
			margin-bottom: 2rem;
		}
	}
	.info-item {
		display: flex;
		margin-bottom: 1rem;
		&__icon {
			color: $color-complementary-3;
			margin-right: 0.5rem;
			width: 2rem;
			font-size: 1.5rem;
			display: flex;
			justify-content: center;
		}
		&__paragraph {
			margin-bottom: 0;
			display: flex;
			align-items: center;
			font-weight: bold;
		}
	}
	.col-form {
		padding: 0 2rem;
		display: flex;
		flex-direction: column;
		@media screen and (max-width: 767px) {
			padding: 0 15px;
		}
		&__name {

		}
	}
	::placeholder {
		color: $color-grey-3;
	}
	.contact-form {
		display: flex;
		flex-direction: column;
		&__item {
			margin-bottom: 1rem;
			padding: 0.5rem 1rem;
			border-radius: $radius;
			//box-shadow: $shadow-inner;
		}
	}
	.contact-form__message {
		display: flex;
		margin-bottom: 1rem;
		padding: 0.5rem 1rem;
		border-radius: $radius;
		width: 100%;
		flex-grow: 1;
		flex-shrink: 0;
	}
	.col-about {
		@media screen and (max-width: 991px) {
			margin-top: 2rem;
		}
	}
	.about-item {
		border: 1px solid #fff;
		border-radius: $radius;
		padding: 1.5rem;
		&__header {
			color: #fff;
			text-transform: uppercase;
			font-weight: bold;
			padding-left: calc(100px + 1.5rem);
		}
		&__inner {
			display: flex;
			align-items: flex-end;
		}
		&__img-wrap {
			min-width: 100px;
			width: 100px;
			height: 100px;
			border-radius: $radius;
			overflow: hidden;
		}
		&__img {
			max-width: 100%;
		}
		&__text-wrap {
			padding-left: 1.5rem;
		}
		&__name {
			color: $color-grey-1;
			font-size: 1.2rem;
			margin-bottom: 1rem;
		}
		&__text {
			color: $color-grey-1;
			margin-bottom: 0;
		}
	}
}
.col-copyright {
	padding: 15px 1.5rem;
	margin-top: 1.5rem;
	color: $color-grey-2;
	background-color: $color-grey-6;
	.copyright-paragraph {
		margin-bottom: 0;
	}
}